{%  extends 'layout.html' %}

{% block body %}

    {% for game in items %}

        <div class="gameDiv">
            <div class="gameInfoDiv">
                <h3>{{ game.name }}</h3>
                <p>{{ game.description }} </p>

                    {% if game.gamelink %}
                        <p><a href="{{ game.gamelink }}">Game Link</a></p>
                    {% endif %}

                <p>Design/Features: {{game.design}}</p>
                <p>Challenges: {{ game.challenges }}</p>
                <p>Language(s): {{ game.languages }}</p>
                <p>Future Changes/Ideas: {{ game.futurework }}</p>
                <p>Code Link: <a href="{{ game.github }}">GitHub</a></p>
            </div>
            <div class="gameImgDiv">
            <img src="{{ game.piclink }}">
            </div>
        </div>

    {% endfor %}

{% endblock %}