{%  extends 'layout.html' %}

{% block body %}

    <div class="homeDiv">
        <h1>Mark Fox</h1>
        <h2>Junior Developer</h2>

        <img src="https://farm5.staticflickr.com/4632/39720386592_eba15b0885_o.png"/>
    </div>

    <div id="homeIntroDiv">
        <p>Welcome to my portfolio website! I am a passionate, new developer
            who is eager to apply his programming knowledge while continuing
            to learn everything possible. Originally, I received a degree in
            Psychology with an interest in human behaviors; however, 2 years
            ago I came to the realization that my deepest interests had always
            been with programming and technology. From there I set out to learn
            all that I could. Recently, I completed a degree in Software
            Development and am more than ready to advance to the next step!</p>
    </div>

{% endblock %}