<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158633385-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-158633385-1');
    </script>

    <meta charset="UTF-8">
    <title>Portfolio of Mark Fox</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/styles.css">
</head>
<body>

{% include 'partials/_navbar.html' %}

<div class="container">

    {% block body %}{% endblock %}

</div>

{% include 'partials/_copyright.html' %}

</body>
</html>