{%  extends 'layout.html' %}

{% block body %}

    {% for item in items %}

        <div class="projDiv">
            <div class="projInfoDiv">
                <h3>{{ item.name }}</h3>
                <p>{{ item.description }}</p>

                {% if item.onlinelink %}
                    <p><a href="{{ item.onlinelink }}">Online Link</a></p>
                {% endif %}

                <p>Design/Features: {{ item.design }}</p>
                <p>Challenges: {{ item.challenges }}</p>
                <p>Language(s): {{ item.languages }}</p>
                <p>Future Changes/Ideas: {{ item.futurework }}</p>
                <p>Code Link: <a href="{{ item.github }}">GitHub</a></p>
            </div>

            <div class="projImgDiv">
                <img src="{{ item.piclink }}">
            </div>
        </div>
    {% endfor %}

{% endblock %}