{%  extends 'layout.html' %}

{% block body %}

    <div id="eduDiv">
        <h2>Education</h2>

        {% for item in data %}

            <p class="title">{{item.edu.it}}</p>
            <p>{{item.edu.itschool}}</p>
            <p>{{item.edu.itextra}}</p>
            <br>
            <p class="title">{{item.edu.psy}}</p>
            <p>{{item.edu.psyschool}}</p>

        {% endfor %}
    </div>

    <hr width="45%">

    <div id="workDiv">
        <h2>Work Experience</h2>

        {% for item in data %}

            <p class="title">{{item.exp1.title}}</p>
            <p>{{item.exp1.length}}</p>
            <p>{{item.exp1.org}}</p>
            <p>{{item.exp1.loc}}</p>
            <ul>
                {% for task in item.exp1.tasks %}
                    <li>{{task}}</li>
                {% endfor %}
            </ul>

            <br>

            <p class="title">{{item.exp2.title}}</p>
            <p>{{item.exp2.length}}</p>
            <p>{{item.exp2.org}}</p>
            <p>{{item.exp2.loc}}</p>
            <ul>
                {% for task in item.exp2.tasks %}
                    <li>{{task}}</li>
                {% endfor %}
            </ul>

        {% endfor %}

    </div>

{% endblock %}